<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jesse's Portfolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body class="container-fluid" ng-controller="MainController">


    <div class="row top">
        <h1 class="siteName">Rock The Vote</h1>
    </div>




    <div class="row submit">

        <div class="row col-xs-6 col-xs-offset-4">
            <div class="row col-xs-9">
                <div class="row newTitleRow">
                    <label class="newTitleLabel">Submit a post</label>
                    <br>
                    <input type="text" class="newTitle" placeholder="Title" ng-model="submit.title">
                </div>
                <div class="row newDescRow">
                    <textarea class="newDesc col-sm-12" placeholder="Description" rows="5" ng-model="submit.desc"></textarea>
                </div>
                <div class="row subBtn">
                    <button class="btn-primary btn-md col-xs-offset-2" ng-click="submitPost()">Submit</button>
                </div>
            </div>

        </div>

    </div>

    <div class="row example">

        <div class="row col-xs-10 col-xs-offset-2">
            <div class="row examples col-xs-9">
                <h4 class="exampleIssue">Veterans heading to Dakota Access Pipeline to protect protesters</h4>
                <p class="exampleDesc">Thousands of military veterans are descending on North Dakota to take part in the Standing Rock protest against the planned oil pipeline. One of the veterans we spoke with said, "We fought to defend our countrymen's rights- we wont stand idly by while those rights are infringed upon". This is expected to have a serious impact on the year long protest and occupation because it will be career suicide to be seen using force against America's veterans.</p>
            </div>
            <div class="exbuttons">
                <h2 class="upvotesEx"><span class="glyphicon glyphicon-arrow-up uparrow" aria-hidden="true"></span> 22</h2>
                <h2 class="downvotesEx"><span class="glyphicon glyphicon-arrow-down downarrow" aria-hidden="true"></span> 8</h2>
                <div class="buttons">
                    <button class="upvoteEx col-xs-12 btn-success" ng-click="upvoteFunction()"> Upvote </button>
                    <br>
                    <br>
                    <button class="downvoteEx col-xs-12 btn-danger" ng-click="downvoteFunction()">Downvote</button>
                </div>
            </div>
        </div>

        <div class="row col-xs-10  exComm">
            <div class="row comment">
                <p class="comm"><b>Comments</b></p>
                <textarea class="col-xs-8 well exTexAr" rows="3" placeholder="Add a comment">This is an example</textarea>
            </div>
            <div class="row exSubBtn">
                <button class="btn-primary btn-md col-xs-offset-2">Submit</button>
            </div>
        </div>

    </div>

    <div class="row userAdded" ng-repeat="thing in postToAdd">

        <section>

            <div class="row newPostRow col-sm-10">
                <div class="row newAdded col-xs-8">
                    <h4 class="newIssue"> {{ thing.title }} </h4>
                    <p class="newDesc"> {{ thing.desc }} </p>
                </div>

                <div class="newbuttons col-sm-3">
                    <div class="display">
                        <h2 class="upvotesEx"><span class="glyphicon glyphicon-arrow-up uparrow" aria-hidden="true"></span> {{upCount}} </h2>
                        <h2><span class="glyphicon glyphicon-arrow-down downarrow downvotes" aria-hidden="true"></span> {{downCount}} </h2>
                    </div>
                    <div class="newVotes">
                        <button class="newUpvote col-xs-6 btn-success" ng-click="upvoted()"> Upvote </button>
                        <br>
                        <br>
                        <button class="newDownvote col-xs-6 btn-danger" ng-click="downvoted()">Downvote</button>
                    </div>
                </div>

                <div class="row col-xs-8 newComm">
                    <div class="row newComment">
                        <b class="newCommTitle">Post a comment</b>
                        <textarea class="col-xs-10 well newTA" rows="3" placeholder="Add a comment" ng-model="userComment"></textarea>
                    </div>
                    <div class="row newSubBtn">
                        <button class="btn-primary col-xs-4" ng-click="submitComment(userComment)">Submit</button>
                    </div>
                    <div class="comments" ng-repeat="thing in comments">
                        <p>{{thing.userComment}}</p>
                    </div>
                </div>

            </div>
        </section>

    </div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="service.js"></script>
</body>

</html>