.top {
    color: black;
}

.siteName {
    font-size: 380%;
    text-align: center;
}

.submit {
    margin-top: 3%;
}

.newTitleLabel {
    margin-left: 40%;
    font-size: 130%;
}

.newTitle {
    margin-top: 4%;
    margin-left: 38%;
}

.newDescRow {
    margin-top: 3%;
}

.subBtn {
    margin-top: 3%;
    margin-left: 30%;
}

.newDescLabel {
    margin-left: 40%;
}

.example {
    margin-top: 5%;
    display: inline-block;
}

.buttons {
    margin-top: 30%;
}

.exbuttons {
    margin-top: 1%;
    display: inline-block;
    float: left;
    margin-left: 3%;
}

.uparrow {
    color: green;
}

.downarrow {
    color: red;
}

.upvotesEx {
    margin-top: 0;
    margin-left: 18%;
}

.downvotesEx {
    margin-left: 16%;
}

.upvoteEx {
    margin-left: 20%;
    margin-top: 1%
}

.downvoteEx {
    margin-left: 20%;
}

.examples {
    border-style: solid;
    border-color: black;
    border-width: medium;
    float: left;
    display: block;
}

.exampleIssue {
    padding: 2%;
    text-align: center;
}

.exampleDesc {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.exComm {
    margin-top: 1%;
    margin-left: 19%;
}

.exTexAr {
    background-color: lavender;
}

.input {
    display: block;
    float: left;
}

.comm {
    display: block;
    margin-left: 37%;
}

.commBtn {
    margin-left: 35%;
}

.userAdded {
    margin-top: 2%;
    padding-bottom: 2%;
}

.newPostRow {
    float: left;
    margin-left: 5%;
    margin-top: 7%;
}

.newIssue {
    text-align: center;
}

.newbuttons {
    float: left;
    display: inline-block;
    margin-left: 1%;
}

.newVotes {
    margin-left: 15%;
    margin-top: 10%;
}

.newSubBtn {
    margin-left: 36%;
}

.newComm {
    margin-left: 0%;
    margin-top: 0;
    float: left;
}

.newCommTitle {
    margin-left: 40%;
}

.newTA {
    margin-top: 2%;
    position: relative;
    word-wrap: break-word;
    margin-left: 4%;
}

.newDesc {
    word-wrap: break-word;
}

.newAdded {
    border-style: solid;
    border-color: black;
    border-width: medium;
    float: left;
    display: block;
}

.newUpvote {
    margin-top: 0;
}

.downvotes {
    margin-left: 18%;
}

.btn-md {
    width: 30%;
}