@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
}

@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
}

.top {
    text-align: center;
}

a {
    display: inline;
    font-size: 200%;
    
}

nav {
    margin-top: 11%;
    padding-bottom: 3%;
    
}

ul {
    list-style-type: none;
}

p {
    width: 50%;
}

.top {
    background-image: url(headerpic.jpg);
    background-size: 90%;
}

li {
    color: black;
    font-size: 130%;
}

.info {
    padding-top: 5%;
}





