<div ng-controller="HomeController" class="homeBody">
    <h3 class="homeHeader">Find Songs By Artist</h3>

    <div class="input">
        <input type="text" placeholder="Artist " ng-model="lookUp">

        <button class="btn btn-primary" ng-click="findPh(lookUp)">Search</button>
    </div>


    <section class="here">
        <div class="row">
            <h4 class="clickSave"><b>Click save to add to your playlist</b></h4>
            <ol class="repeatStart">
                <li ng-repeat="song in output.data" class="line">
                    <h4>Song: {{ song.title }}  </h4>
                    <h4>Artist: {{ song.artist.name }}  </h4>
                    <h4>Album: {{ song.album.title }}</h4>
                    <img src="{{song.album.cover_medium}}" class="cover">
                    <a href="{{song.preview}}"><h4 class="preview">Click here to preview</h4> </a>
                    <button type="button" class="btn btn-primary saveBtn col-sm-3" ng-click="addSong()">Save</button>
                    <br>
                    <br>
                </li>

            </ol>
        </div>

</section>
</div>