@font-face {
    font-family: "type";
    src: url('type.ttf');  
}

body {
    background-image: url(wood.jpg);
    background-size: 100%;
    
}



.top {
    font-family: type;
    text-align: center;
    color: #075E7D;
    margin-top: 3%;
    display: block;

}

.selection {
    font-family: type;
    font-size: 300%;
    text-align: center;
    color: #075E7D;
    margin-top: 3%;
    display: block;

}

@media only screen and (min-width: 768px) {
.selection {
    font-family: type;
    font-size: 600%;
    text-align: center;
    color: #075E7D;
    margin-top: 3%;
    display: block;

}
}


.row1 {
    margin-top: 5%;
    display: block;
    
}


@media only screen and (min-width: 768px) {
.row1 {
    margin-top: 5%;
    display: block;
    
}
}


.nav {
    display: block;
    margin: 0%;
    margin-top: 10%
}


a {
    display: inline;
    color: aliceblue;
    text-shadow: 2px 2px black;
    font-size: 170%;
}


@media only screen and (min-width: 768px) {
a {
    display: inline;
    color: aliceblue;
    text-shadow: 2px 2px black;
    font-size: 170%;
}
}