@font-face {
    font-family: "type";
    src: url('type.ttf');  
}

@font-face {
    font-family: "western";
    src: url("western.ttf")
}

body {
    background-image: url(./barn.jpg);
    background-size: 100%;
}



.rockwell {
    font-family: type;
    font-size: 300%;
    color: black;
    text-align: center;
    letter-spacing: 10px;
    text-shadow:  1px 1px #241100;
    
}

@media only screen and (min-width: 768px) {
.rockwell {
    font-family: type;
    font-size: 800%;
    color: black;
    text-align: center;
    letter-spacing: 10px;
    text-shadow:  1px 1px #241100;
    margin-top: 2%;
    
}
}

.motto {
    font-size: 150%;
    color: black;
    text-align: center;
    letter-spacing: 7px;
    text-shadow:  1px 1px #241100;
    font-family: western;
    
} 



.nav {
    list-style-type: none;
    font-size: 70%;
    text-shadow: 3px 3px black;
    text-align: center;
    
}


@media only screen and (min-width: 768px) {
.nav {
    list-style-type: none;
    font-size: 150%;
    text-shadow: 3px 3px black;
    text-align: center;
    
}
}

a {
    color: snow;
    text-decoration: none;
    font-size: 400%;
   
}

li {
    margin-top: 10%;
    color: snow;
}

img {
    height: 300px;
    float: right;
    margin-right: 3%;
    margin-top: 5%;
    display: inline-block;
}

