<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
    <meta charset="utf-8">
    <title>Grocery Store</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body ng-controller="UploadController">


<section class="here">
    <div class="row">
        <h1>Mom's shopping list</h1>

        <input type="text" ng-model="item">
        <button type="button" class="btn addBtn" ng-click="adding()">Add</button>

        <section>
        <ul>
            <li ng-repeat="things in groceries">
                <button type="button" class="btn" ng-click="remove($index)">X</button>
                <h3 class="item">{{things}}</h3>
            </li>
            </ul>
        </section>

    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
 <script src="app.js"></script>
</body>

</html>