
<img src="../pics/logos-titles.jpg" class="skills">

<h4 class="resAll">


<div class="education">

<h2 class="section">Education:</h2>

<ul class="uls">

    <h4 class="lis">

    <li>Graduated from V School's MEAN stack Web Development Bootcamp in March 2017.</li><br>

    <li>Studied Technology Management at Utah Valley University.</li><br>

    <li>Graduated in the top of my class in basic training (boot camp), the US Air Force logistics
        school, the US Army intelligence training, and combat medic school.</li>

    </h4>

</ul>

</div>



    <div class="accomplishments">

        <h2 class="section">Accomplishments:</h2>

        <ul class="uls">

            <h4 class="lis">

                <li>I was an honor graduate from my technical training with the Army.</li><br>

                <li>Served in several leadership positions in the military and civilian jobs.</li><br>

                <li>Time magazines ‘Person of the year’ 2x (2003 and 2006).</li>

            </h4>

        </ul>

    </div>



<div class="work">
<h2 class="section">Previous Employment:</h2>


    <h3 class="job title">Tour Director</h3>

    <h4 class="job">Holland America/Princess</h4><br>

       <h5 class="job date">May 2015 - September 2015 & 2016</h5>

    <h4 class="responsibilities">Responsibilities:</h4>

    <ul class="uls">
        <h4 class="lis">
            <li>Escort groups of 24-45 tourists through Alaska and the Yukon.</li><br>
            <li>Liaison between the company and the guests to resolve any issues and accomodate any
                special needs (dietary restrictions, hotel accomodations, and mobility issues).</li><br>
            <li>Coordinating logistics with hotel properties, transportation, and vendors.</li><br>
            <li>Ensuring that guests are informed and prepared for various activites.</li><br>
        </h4>
    </ul>


    <h3 class="job title">Account Manager/Resolution Specialist</h3>

    <h4 class="job">Simple Finance</h4><br>

    <h5 class="job date">October 2015 - May 2016</h5>

    <h4 class="responsibilities">Responsibilities:</h4>

    <ul class="uls">
        <h4 class="lis">
            <li>Ensuring all 200+ clients within my region were properly trained on our product, and had
            the necessary support.</li><br>
            <li>Assisting clients with advertising and marketing strategies.</li><br>
            <li>Investigated fraud claims and worked with vendors and customers to resolve the claims.</li><br>
            <li>Coordinating with our legal team to establish procedures for handling various fraud claims.</li><br>
        </h4>
    </ul>


    <h3 class="job title">Launch Coordinator Team Lead</h3>

    <h4 class="job">School Improvement Network</h4><br>

        <h5 class="job date">April 2012 - January 2015</h5>

            <h4 class="responsibilities">Responsibilities:</h4>

<ul class="uls">
    <h4 class="lis">
        <li>Created and managed the Launch Coordinator team which handled the onboarding and implementation off
            every client.</li><br>
        <li>Oversaw the Launch Coordinator team's day to day operations, staffing, disciplinary actions, and scheduling.</li><br>
        <li>Implemented strategies which increased implementation efficiency by 130% within 2 months.</li><br>
        <li>Training clients on using and implementing products.</li><br>
        <li>Customizing our products to fit our client's needs.</li>
    </h4>
</ul>


    <h3 class="job title">Intelligence Analyst/ Combat Medic</h3>

    <h4 class="job">US Army (reserves)</h4><br>

    <h5 class="job date">October 2007 - October 2013</h5>

        <h4 class="responsibilities">Responsibilities:</h4>

    <ul class="uls">
        <h4 class="lis">
            <li>Assessing the significance and reliability of incoming intelligence.</li><br>
            <li>Assisting in the analysis and evaluation of intelligence holdings to determine changes in enemy capabilities,
                vulnerabilities, and probable courses of action.</li><br>
            <li>Preparing intelligence reports, charts, and maps.</li><br>
            <li>Administering emergency medical treatment to battlefield casualties.</li><br>
        </h4>
    </ul>


</div>

</div>