@font-face {
    font-family: "type";
    src: url('type.ttf');  
}

@font-face {
    font-family: "western";
    src: url("western.ttf")
}

body {
    background-image: url(farm.jpg);
    height: 100%;
    width: 100%;
    
}


@media only screen and (min-width: 768px) {
.top {
    display: block;
    text-align: center;
    }
}

.rockwell {
    font-family: type;
    font-size: 300%;
    color: black;
    text-align: center;
    letter-spacing: 10px;
    text-shadow:  1px 1px #241100;
    margin-top: 2%;
    display: block;
    
}

@media only screen and (min-width: 768px) {
.rockwell {
    font-family: type;
    font-size: 800%;
    color: black;
    text-align: center;
    letter-spacing: 10px;
    text-shadow:  1px 1px #241100;
    margin-top: 2%;
    display: block;
    
}
}


@media only screen and (min-width: 768px) {
.motto {
    font-size: 150%;
    color: black;
    text-align: center;
    letter-spacing: 7px;
    text-shadow:  1px 1px #241100;
    font-family: western;
    display: block;
    
} 
}



.nav {
    list-style-type: none;
    margin-top: 5%;
    margin-left: 25%;
    font-size: 50%;
    text-shadow: 3px 3px black;
    display: inline-block;
    text-align: center;
    
}



@media only screen and (min-width: 768px) {
.nav {
    list-style-type: none;
    font-size: 100%;
    margin-left: 1%;
}
}

a {
    color: snow;
    text-decoration: none;
    font-size: 400%;
   
}

li {
    margin-top: 10%;
}

p {
    display: inline-block;
    background-color: aliceblue;
    width: 50%;
    margin-top: 8%;
    margin-left: 5%;
    text-align: center;
    font-family: type;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 120%;
    float: right;
    margin-right: 24%;
    
}

.issac {
    display: inline-block;
    ;
    margin-top: 7.5%;
    text-align: center;
    color: aliceblue;
}

