@font-face {
    font-family: "type";
    src: url('type.ttf');
}

body {
    background-image: url(./barn.jpg);
    background-size: 100%;
}

.rockwell {
    font-family: type;
    font-size: 830%;
    color: black;
    text-align: center;
    letter-spacing: 10px;
    text-shadow:  1px 1px #241100;
    margin-top: 2%;
    position: relative;
    
}


.motto {
    font-family: type;
    font-size: 17%;
    color: black;
    text-align: center;
    letter-spacing: 7px;
    text-shadow:  1px 1px #241100;
    margin-left: 37%;
    position: absolute;
    
}    

.since {
    margin-top: 2%;
}

header {
    
}

.container {
    margin-left: 0%;
    display: inline-block;
    margin-top: 10%;
}

.nav {
    display: inline-block;
    font-size: 380%;
    margin-left: 1.8%;
    margin-top: 8%;
    color: white;
}

