<div class="projectsDiv">

    
    <div class="row projectContainer">

        <img src="../pics/api2.jpg" class="projectPic">

        <div class="projectText">
        <h1 class="projectName">vibe</h1>
        <h5 class="projectDescription">This web application utilizes the LastFm API to
            find any tracks an artist has released or appeared in. It allows the user
            to add any track to their own playlist with the push of a button, or search for
            similar artists.
            <br>
            This is a full stack application utilizing the MEAN stack.</h5>
        </div>

    </div>


    <div class="row projectContainer">

        <img src="../pics/full.jpg" class="projectPic">


        <div class="projectText">
            <h1 class="projectName">Ideally</h1>
            <h5 class="projectDescription">This is a full stack web application that allows a user
                to submit an idea for an app they think would be handy and would like to see developed,
                or a feature they would like to see in a pre-existing app or site. It allows users to
                vote on the ideas and displays the ideas with the most votes at the top.
                <br>
                This is a full stack application utilizing the MEAN stack.</h5>
        </div>

    </div>

    <div class="row projectContainer">

        <img src="../pics/vote.jpg" class="projectPic">

        <div class="projectText">
            <h1 class="projectName">Rock the Vote</h1>
            <h5 class="projectDescription">This is a full stack web application that allows a user
                to submit an idea for an app they think would be handy and would like to see developed,
                or a feature they would like to see in a pre-existing app or site. It allows users to
                vote on the ideas and displays the ideas with the most votes at the top.
                <br>
                This is a full stack application utilizing the MEAN stack.</h5>
        </div>

    </div>


    <div class="row projectContainer">

        <img src="../pics/mario.jpg" class="projectPic">

        <div class="projectText">
            <h5 class="projectName">Mario's Pest Control</h5>
            <p class="projectDescription">This is a full stack web application that allows a user
                to submit an idea for an app they think would be handy and would like to see developed,
                or a feature they would like to see in a pre-existing app or site. It allows users to
                vote on the ideas and displays the ideas with the most votes at the top.
                <br>
                This is a full stack application utilizing the MEAN stack.</p>

    </div>

</div>