
<div class="row aboutHeader">
    <h1 class="name">Jesse Emig</h1>
</div>


<div class="lower">

    <div class="quoteDiv">
    <h2 class="quote">Where most people see a mouse trap, I see free cheese and a challenge.</h2>
    </div>

    <div class="aboutLeft">

        <h1 class="aboutMe">About me</h1>


        <h3 class="me">I am a MEAN stack Web Developer</h3>
        <p class="me">I genuinely enjoy coding, it's not uncommon for me to code for 14+ hours.
        I </p>


    </div>

    <img src="../pics/headshot.jpg" class="photo image-responsive">


</div>