<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-controller="MainController">
  
   <div ng-repeat="todo in todos track by $index">
           <h2> {{todo.title}}</h2>
           <button class="btn btn-danger glyphicon glyphicon-trash" ng-click="remove todo">Click Me</button>
            </div>
   
  
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="app.js"></script>
</body>

</html>