<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
</head>

<body ng-controller="MainController">
    
    <h1>Todo List</h1>

    <div class="row form-group">


        <div class="col-sm-6">

            <form name="todoForm">

                <div class="form-group"}>
                    <label>Title</label>
                    <input type="text" class="form-control" ng-model="add.title" required>
                </div>


                <div class="form-group">
                    <label>Description</label>
                    <input type="text" placeholder="Description" ng-model="add.desc">
                </div>


                <div class="form-group">
                    <label>price</label>
                    <input type="number" placeholder="Price" ng-model="add.price">
                </div>

                <div class="form-group">
                    <label>Image</label>
                    <input type="url" placeholder="Img URL" ng-model="add.img">
                </div>


                <button type="button" class="btn btn-primary" ng-click="upload()">Submit</button>

            </form>
        </div>


    </div>

    <div ng-repeat="thing in todos">
    <section>

        <h2 for="{{$index}}" class="done-{{thing.done}}"> {{thing.title}} </h2>

        <h2 for="{{$index}}" class="done-{{thing.done}}"> {{thing.desc}} </h2>

        <h2 for="{{$index}}" class="done-{{thing.done}}">$ {{thing.price}} </h2>

        <img class="done-{{thing.done}}" ng-src="{{ thing.img }}">

        <div class="checkbox">
            <label>
        <input type="checkbox" ng-model="thing.done" id="{{$index}}">
                Done
            </label>
            <button type="button" class="deleteBtn btn-danger" ng-click="remove($index)">Remove</button>
        </div>

        </section>
    </div>


    <script src="app.js"></script>
</body>

</html>


