
@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
}

@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
}

@font-face {
    font-family: ProtestPaint BB;
    src: url("ProtestPaintBB_ital.ttf");
}
 
.top {
    margin-left: 2%;
}
body {
    
    
}


.navbar {
    background-image: url(bluePhone.jpg);
    background-size: contain;
    font-size: 200%;
    padding-top: .4%;
    padding-bottom: .4%;
}

.homeLink {
    margin-left: 30%;
    background-color: #FFD30D;
    padding: .66%;
}

.tipsLink {
    margin-left: 6%;
    background-color: #FFD30D;
    padding: .66%;
}

.helpLink {
    margin-left: 6%;
    background-color: #FFD30D;
    padding: .66%;
}

.lower {
    background-image: url(redphone.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.info {
    background-color: white;
    width: 40%;
    height: auto;
    margin-left: 55%;
}

.tipsHeader {
    text-align: center;
}

.homeBody {
    margin-bottom: 15%;
}
.homeHeader {
    text-align: center;
    font-size: 230%;
    margin-top: 3%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.numInfo {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 8%;
    padding-bottom: 5%;

}
.input {
    text-align: center;
    
}

.line {
    font-size: 120%;
    margin-bottom: 2%;
}