
@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
}

@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
}

@font-face {
    font-family: 'spyAgency';
    src: url('spyagencyv3half.ttf');
}
 
.top {
    margin-left: 2%;
    text-align: center;
    background-image: url(headerPic.jpg);
    background-repeat: no-repeat;
    height: 185px;
}
.title {
    font-family: 'spyAgency';
    text-align: center;
    font-size: 450%;
    
}
body {
    
}


.navbar {
    background-image: url(navbarPic.jpg);
    background-size: contain;
    font-size: 200%;
    padding-top: .4%;
    padding-bottom: .4%;
}

.homeLink {
    margin-left: 30%;
    background-color: #FFD30D;
    padding: .66%;
}

.tipsLink {
    margin-left: 6%;
    background-color: #FFD30D;
    padding: .66%;
}

.helpLink {
    margin-left: 6%;
    background-color: #FFD30D;
    padding: .66%;
}

.lower {
    background-image: url(redphone.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
}

.info {
    background-color: white;
    width: 570px;
    height: 500px;
    margin-left: 140%;
    position: relative;
}

.tipsHeader {
    text-align: center;
}

.homeBody {
    margin-bottom: 15%;
}
.homeHeader {
    text-align: center;
    font-size: 230%;
    margin-top: 3%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.numInfo {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 8%;
    padding-bottom: 5%;

}
.input {
    text-align: center;
    
}

.line {
    font-size: 120%;
    margin-bottom: 2%;
}

.reporting {
    background-image: url(oldpic.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 500px;
}
.reportH {
    text-align: center;
    padding-bottom: 3%;
    color: red;
    padding-top: 2%;
}

.reportInfo {
    margin-left: 3%;
    color: red;
    margin-bottom: 1%;
}

.reportInfo2 {
    margin-top: 35%;
    text-align: center;
}



