<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
</head>

<body ng-controller="MainController">

 
 <div class="row calc">
  <h6>Enter opperation: <input class="input" type="text" placeholder=" add, subtract, multiply, divide, or exponentiation" ng-model> </h6>
 <input type="number" ng-model="number1">
   <input type="number" ng-model="number2">
   <button class="btn" ng-click="run(number1, number2)">Calc</button>
  
     <p>Total: {{ total }} </p>
     
     </div>
     
     
     
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
    <script src="app.js"></script>
</body>

</html>