<div ng-controller="otherMusicController" class="row tipsBody">

    <div class="row findRow1">
        <h1 class="findheader">Discover new music</h1>
        <p class="otherBody">
            <label class="searchG">Search by genre &nbsp;</label>
            <input type="text" ng-model="find" placeholder="Genre">&nbsp;
            <button type="button" class="btn btn-primary" ng-click="findNew(find)">Search</button>
    </div>

    <ol class="findRepeatStart col-sm-offset-1">
        <li ng-repeat="thing in genreFound" class="line2">
            <h4>Name:  &emsp; &nbsp; &emsp;{{ thing.name }}</h4>
            <br>
                <img src="{{thing.picture}" class="cover">
           
        </li>
    </ol>
</div>