<div ng-controller="otherMusicController" class="row tipsBody">

    <div class="row findRow1">
        <h1 class="findheader">Discover new music</h1>
        <p class="otherBody">
            <label class="searchG">Search by artist &nbsp;</label>
            <input type="text" ng-model="find" placeholder="Genre">&nbsp;
            <button type="button" class="btn btn-primary" ng-click="findNew(find)">Search</button>
    </div>

    <ol class="findRepeatStart col-sm-offset-1">
        <li ng-repeat="thing in artistFound track by $index" class="line2">
            <h1>Top Tracks</h1>
            <br>
              <div class="songNames" ng-repeat="song in thing.artist">
               <h4 class="artist1">{{song.name}}</h4>
                <img src="{{song.image[2]['#text']}} " class="img-responsive artist1 artistPic2">
           </div>
        </li>
    </ol>
</div>