body {
    background-color: #111111;
}

h1 {
    color: #E2E80F;
    text-align: center;
    font-size: 330%;
}

p {
    color: #eeeeee;
    font-size: 110%;
    line-height: 1.5em;
}

.credits {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

#film-description {
    font-size: 90%;
    font-style: italic;
}