@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

header {
    text-align: center;
    font-size: 700%;
    font-family: sans-serif;
}

body {
    background-image: url(mario.jpg);
    background-size: 100%;

}

p {
    text-align: center;
    font-size: 350%;
    position: static;
}

.nameInput {
    background-color: rgba(60, 60, 60, 0.5);
    color: black;
}

.inputs {
    width: 35%;
}
    
.g {
    display: inline-block;
    padding-left: 2%;
    position: static;
    margin-top: 0%;
    font-size: 150%; 
}

.gimg {
    margin-left: 25%;
}


.b {
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
    position: static;
    font-size: 150%;
}

.bimg {
    margin-left: 20%;
}

.c {
    display: inline-block;
    position: static;
    font-size: 150%;
}

.cimg {
    margin-left: 20%;
}

.cheep {
    list-style-type: none;
    text-align: center;
    font-size: 150%;
}

.bob {
    list-style-type: none;
    text-align: center;
    font-size: 150%;
}

.goombas {
    list-style-type: none;
    text-align: center;
    font-size: 150%;
}

footer {
    font-family:sans-serif;
    
}

button{
    margin-left: 50%;
}


ul {
    width: 100%;
}


.total {
    color: black;
    margin-top: 1%;
    text-align: center;
}
