header {
    text-align: center;
    font-size: 700%;
    font-family: sans-serif;
}

body {
    background-image: url(mario.jpg);
    background-size: 100%;

}

p {
    text-align: center;
    font-size: 350%;
    position: static;
}
    
.g {
    display: inline-block;
    padding-left: 25%;
    position: static;
    margin-top: 0%;
    font-size: 150%; 
}

.b {
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
    position: static;
    font-size: 150%;
}

.c {
    display: inline-block;
   
    position: static;
    font-size: 150%;
}

footer {
    font-family:sans-serif;
    padding: 100px
}

button{
    margin-left: 50%;
    margin-bottom: 1%
}