<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
</head>

<body ng-controller="MainController" class="container">


    <div class="row">

        <form class="row">


            <div class="col-sm-6 form-group">
                <input type="text" class="form-control no" placeholder="First name" ng-model="person.firstName">
            </div>


            <div class="col-sm-6 form-group">
                <input type="text" class="form-control" placeholder="Last name" ng-model="person.lastName">
            </div>



            <div class="col-sm-6 form-group">
                <input type="text" class="form-control" placeholder="Email address" ng-model="person.email">
            </div>


            <div class="col-sm-6 form-group">
                <input type="text" class="form-control" placeholder="Place of birth" ng-model="person.place">
            </div>



            <div class="col-sm-6 form-group">
                <input type="tel" class="form-control" placeholder="Phone" ng-model="person.phNum">
            </div>


            <div class="col-sm-6 form-group">
                <input type="text" class="form-control" placeholder="Favorite food" ng-model="person.food">
            </div>



            <div class="col-sm-12 form-group">
                <textarea rows="8" class="form-control" placeholder="Tell us about yourself" ng-model="person.about"></textarea>
            </div>


            <button class="btn col-xs-2 col-xs-offset-5" ng-click="addName()">Submit</button>


        </form>


        <section class="row">

            <div class="row">
                <h3 class="top well">Badge</h3>
            </div>

            <div class="col-xs-6">
                <h3> Name: {{ badge.firstName }} {{ badge.lastName }}</h3>
            </div>
            <div class="col-xs-6">
                <h3>Phone: {{ badge.phNum }}</h3>
            </div>

            <div class="col-xs-6">
                <h3>Place of birth: {{ badge.place }}</h3>
            </div>
            <div class="col-xs-6">
                <h3>Favorite food: {{ badge.food }}</h3>
            </div>

            <div class="col-xs-6">
                <h3>Email: {{ badge.email }}</h3>
            </div>

            <div class="col-xs-12">
                <p>{{ badge.about }}</p>
            </div>

        </section>


    </div>




    <script src="app.js"></script>
</body>

</html>