<div class="row">

<nav class="navbar navbar-default">



        <div class="navbar-header container-fluid">



            <a href="#" class="navbar-brand"></a>


            <div class="github" style="float:left">
                <a href="https://github.com/jesseemig" target="_blank" class="navbar-brand gitLink">
                <img src="../pics/github.png" href="https://github.com/*****" class="gitPic image-responsive">
                <div class="gitoverlay">
                    <span class="gitWord">Github</span>
                </div></a>
            </div>

            <div class="linked" style="float:left">
                <a href="https://www.linkedin.com/in/jesse-emig" target="_blank" class="navbar-brand linkedLink">
                <img src="../pics/linkedin.png" class="linkPic">
                <div class="linkedoverlay">
                    <span class="linkedWord">LinkedIn</span>
                </div></a>
                </div>

            <div class="email" style="float:left">
            <a href="mailto:jesseemig@hotmail.com" class="navbar-brand emailLink">
                <img src="../pics/email.png" class="emailPic">
                <div class="emailoverlay">
                    <span class="emailWord">Email</span>
                </div></a>
            </div>



            <ul class="navbarRight" style="float:right">

                <h6 class="homeH">
                <li class="homeLink">
                    <a href="#/home" class="homeA">Home</a>
                </li>
                </h6>

                <h6 class="projectsH">
                <li class="projectsLink">
                    <a href="#/projects" class="projectsA">Projects</a>
                </li>
                </h6>

                <h6 class="resumeH">
                <li class="resumeLink">
                    <a href="#/resume" class="resumeA">Resume</a>
                </li>
                </h6>

            </ul>



        </div>


</nav>

</div>

   
   