.headerRow {
    background-image: url(header.jpg);
    background-position: center center;
    height: 300px;
}
.title {
    font-size: 500%;
    text-align: center;
    margin-top: 7%;
    color: black;
}