@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
}

@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
}

@font-face {
    font-family: typewriter;
    src: url(typewriter.ttf)
}

@font-face {
    font-family: type;
    src: url(type.ttf)
}

@font-face {
    font-family: paint;
    src: url(ProtestPaintBB_ital.ttf);
}

body {
    background: white;
    width: 108%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.header {
    background-image: url(books2.jpg);
    background-size: 100%;
    color: white;
    font-family: type;
    text-align: center;
    background-position: top 17%;
    height: 100%;
}

.style {
    color: white;
    text-shadow: 3px 3px 5px black;
    font-size: 150%;
}


.styleBtn {
    margin-top: 1%;
    float: left;
    display: inline-block;
    color: white;
}

.btn {
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    position: relative;
    background-color: #22333e;
    width: auto;
    margin-top: 1%;
}
.btn:hover {
    background-color: #5e0000;
    color: white;
}

.name {
    font-family: type;
    font-size: 500%;
    margin-top: 4.5%;
    margin-bottom: 4.5%;
    display: inline-block;
    text-align: center;
}

.invis {
    font-size: 1px;
}

.navbarDiv {
    max-height: 38px;
    background-image: url(paper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.navbar {
    font-size: 200%;
    font-family: typewriter;
    text-align: center;
    width: 100%;
    min-height: 30px;
    list-style-type: none;

    max-height: 10%;
}

.navNames {
    color: #22333e;
}

.navItem {
    display: inline-block;
}

.main {
    font-size: 500%;
    background: url(hike.jpg) no-repeat bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 800px;
    width: 104%;
    margin-left: -4%;
}

.spaDisplay {

    float: left;
    display: inline-block;
}

.aboutMe {
    color: white;
    font-family: "ProtestPaint BB";
    font-size: 200%;
    margin-top: 12%;
    margin-left: 5%;
}

.photo {
    height: 20%;
    width: 20%;
    display: inline-block;
    float: left;
    margin-top: 11%;
    margin-bottom: 5%;
    margin-left: 17%;
}

.aboutLeft {
    width: 50%;
    float: left;
    padding-left: 3%;
    color: white;
}

.para {
    font-size: 40%;
}

.resume {
    color: white;
}

.phone {
    color: white;
}

.email {
    color: white;
}

.contactHeader {
    margin-top: 10%;
}