@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
}

@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
}


@font-face {
    font-family: typewriter;
    src: url(typewriter.ttf)
}

@font-face {
    font-family: type;
    src: url(type.ttf)
}

body {
    background: white;
}
.header {
    background-image: url(books2.jpg);
    background-size: cover;
    color: white;
    font-family: type;
    text-align: center;
    background-position: center;
}

.name {
    font-family: type;
    font-size: 500%;
    margin-top: 8%;
    margin-bottom: 6%;
    position: absolute;
    width: 100%;
}

.navbar {
    background-image: url(paper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0;
    font-size: 290%;
    font-family: typewriter;
}

.navItem {
    color: #22333e;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center
    
}

li {
    display: inline-block;
    margin: 2%;
    margin-top: 0;
    margin-bottom: 0;
}

.nav2 {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.main {
   background-image: url(hike.jpg);
    background-size: contain;
    background-position: bottom;
    font-size: 500%;
    margin-top: 0;
}

.temp {
    font-size: 900%;
}

.photo {
    width: 10%;
    height: 10%;
    display: inline-block;
    float: left;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 3%;
}

