@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
}

@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
}


@font-face {
    font-family: typewriter;
    src: url(typewriter.ttf)
}

@font-face {
    font-family: type;
    src: url(type.ttf)
}

@font-face {
    font-family: paint;
    src: url(ProtestPaintBB_ital.ttf);
}

body {
    background: white;
    width: 104%;
}

.header {
    background-image: url(books2.jpg);
    background-size: cover;
    color: white;
    font-family: type;
    text-align: center;
    background-position: center top 17%;
    height: 100%;
    width: 100%;

}

.name {
    font-family: type;
    font-size: 500%;
    margin-top: 4%;
    margin-bottom: 4%;
    width: 100%;
    text-align: center;
}

.navbar {
    background-image: url(paper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 200%;
    font-family: typewriter;
    text-align: center;
    position: absolute;
    width: 103%;
    max-height: 50px;
    min-height: inherit;
    margin-left: -3%;
}

.navItem {
    color: #22333e;
    height: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: inherit;
}

li {
    display: inline-block;
    margin: 2%;
    margin-top: auto;
    margin-bottom: -1%;
}


.main {
    font-size: 500%;
    background: url(hike.jpg) no-repeat bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 800px;
    width: 100%;
}


.spaDisplay {
    margin-top: 6%;
}

.aboutMe {
    color: white;
    font-family: "ProtestPaint BB";
    font-size: 200%;
    margin-top: 3%;
    margin-left: 15%;
}

.photo {
    height: 18%;
    width: 18%;
    display: inline-block;
    float: left;
    margin-top: 6%;
    margin-bottom: 5%;
    margin-left: 20%;
}

.aboutLeft {
    width: 40%;
    float: left;
    margin-left: 7%;
    color: white;
}
.para {
    font-size: 40%;
}