@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
}

@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
}

@font-face {
    font-family: type;
    src: url(typewriter.ttf);
}


@font-face {
    font-family: paint;
    src: url(ProtestPaintBB_ital.ttf);
}

body {
    background: white;
    width: 100%;
    overflow-x: hidden;
}


.navbar {
    margin-bottom: 0px;
    background-image: url("../pics/darkSteel.jpg");
    border: 0px;
    width: 102%;
    overflow-y: hidden;
    margin-left: -1%;
}


.navbar-brand {
    padding: 0px;
}


.navbar-header {
    margin-top: 2%;
    width: 100%;
}



.github {
    margin-left: 4%;
    display: inline-block;
    position: relative;
    width: auto;
    margin-top: -0.3%;
}


.gitPic {
    opacity: 1;
    max-height: 65%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.gitoverlay {
    transition: .5s ease;
    opacity: 0;
    width: 50%;
    position: absolute;
    top: 31%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


.gitLink {

}


.gitWord {
    font-size: 80%;
    color: white;
}


.github:hover .gitPic {
    opacity: 0.6;
}


.github:hover .gitoverlay {
    opacity: 1;
    margin-left: -10%;
}


.linked {
    margin-left: 3%;
    display: inline-block;
    position: relative;
    width: auto;
    margin-top: -0.3%;
}


.linkPic {
    opacity: 1;
    max-height: 65%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.linkedoverlay {
    transition: .5s ease;
    opacity: 0;
    width: 50%;
    position: absolute;
    top: 31%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


.linkedWord {
    font-size: 80%;
    color: white;
}


.linked:hover .linkPic {
    opacity: 0.6;
}


.linked:hover .linkedoverlay {
    opacity: 1;
    margin-left: -20%;
}


.email {
    margin-left: 3%;
    display: inline-block;
    position: relative;
    width: auto;
    margin-top: -0.3%;
}


.emailPic {
    opacity: 1;
    max-height: 75%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.emailoverlay {
    transition: .5s ease;
    opacity: 0;
    width: 50%;
    position: absolute;
    top: 31%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


.emailLink {

}


.emailWord {
    font-size: 80%;
    color: white;
}


.email:hover .emailPic {
    opacity: 0.6;
}


.email:hover .emailoverlay {
    opacity: 1;
    margin-left: 29%;
}

.navbarRight {
    list-style-type: none;
    padding: 0;
    margin-right: 3%;
    margin-top: -0.75%;
}

.homeH {
    display: inline-block;
    margin-left: -25%;
}


.homeLink {
    float: left;
}


.homeA {
    color: #D4C200;
    font-size: 180%;
    text-align: center;
    display: block;
}


.projectsH {
    display: inline-block;
    padding-right: 10%;
    padding-left: 10%;
}


.projectsLink {
    float: left;
}


.projectsA {
    font-size: 180%;
    color: #D4C200;
    text-align: center;
    display: block;
}


.resumeH {
    display: inline-block;
}


.resumeLink {
    float: left;
}


.resumeA {
    font-size: 180%;
    color: #D4C200;
    text-align: center;
    display: block;
}


.aboutHeader {
    background-image: url("../pics/books2.jpg");
    text-align: center;
    color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.name {
    font-family: "typewriter";
    font-size: 800%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.lower {
    background: url("../pics/hike.jpg") no-repeat bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 800px;
}

.spaDisplay {

}

.aboutMe {
    color: white;
    font-family: "ProtestPaint BB";
    font-size: 800%;
    margin-left: 25%;
}

.quoteDiv {
    width: 100%;
    text-align: center;
}


.quote {
    text-align: center;
    color: white;
    margin-top: 0%;
    padding: 1%;
    background-color: rgba(30,30,30,0.6);
}


.photo {
    height: 20%;
    width: 20%;
    display: inline-block;
    float: left;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 17%;
}


.aboutLeft {
    width: 55%;
    float: left;
    margin-left: 5%;
    color: white;
    background-color: rgba(30,30,30,0.5);
    margin-top: 3%;
}


.me {
    margin-left: 15%;
}

.skills  {
    width: 100%;
}

.resAll {
    width: 90%;
}

.section {
    margin-left: 5%;
}

.uls {
    margin-top: 2%;
}

.lis {
    margin-left: 12%;
}

.work {
    margin-top: 7%;
}

.job {
    text-align: center;
}


.date{
    margin-top: -1%;
}

.responsibilities {
    margin-left: 10%;
    margin-top: 2%;
}

.title {
    margin-top: 5%;
}

.accomplishments {
    margin-top: 7%;
}

.projectContainer {
    width: 100%;
    margin-left: 5%;
    padding-bottom: 5%;
}

.projectText {
    color: black;
    display: inline-block;
    width: 50%;
    margin-left: 10%;
}

.projectName {
    font-size: 350%;
}

.projectPic {
    height: 30%;
    width: 30%;
    display: inline-block;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    position: relative;
}

.projectPic:hover {
    transform-origin:0 0;
    box-shadow: 0px 0px 100px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(2);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(2);
    transition: all 200ms ease-in;
}

.projectDescription {
    letter-spacing: 0.08em;
}

.marioPic {
    height: 30%;
    width: 30%;
}

.fullPic {
    height: 30%;
    width: 30%;
}

